In [1]:
import pandas as pd

import pandas_exploration_util.viz.explore as pe

global_temp = pd.read_csv("./data/GlobalTemperatures.csv", parse_dates = [0], infer_datetime_format=True)
# global_temp = pd.read_csv("./data/GlobalLandTemperaturesByMajorCity.csv", parse_dates = [0], infer_datetime_format=True)

/Users/yhuang/Documents/personal/dev_test_env/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
global_temp['year'] = global_temp.dt.apply(lambda x : x.year)

In [3]:
pe.generate_widget(global_temp)

VBox(children=(HBox(children=(Dropdown(description='Choose Visualization', options=('pareto', 'distribution', …

Output()

In [10]:
global_temp.LandAverageTemperature.isnull().sum(), global_temp.LandAverageTemperature.shape[0]

(12, 3192)

In [18]:
# pd.Series(global_temp['LandAverageTemperature'], index = global_temp['dt'])
test = global_temp.loc[:, ['LandAverageTemperature', 'dt']].set_index('dt')
test.columns = pd.MultiIndex.from_product([['a'],['b']])
test

                 a
                 b
dt
1750-01-01   3.034
1750-02-01   3.083
1750-03-01   5.626
1750-04-01   8.490
1750-05-01  11.573
1750-06-01  12.937
1750-07-01  15.868
1750-08-01  14.750
1750-09-01  11.413
1750-10-01   6.367
1750-11-01     NaN
1750-12-01   2.772
1751-01-01   2.495
1751-02-01   0.963
1751-03-01   5.800
1751-04-01   7.670
1751-05-01     NaN
1751-06-01  13.827
1751-07-01     NaN
1751-08-01  14.405
1751-09-01  10.673
1751-10-01     NaN
1751-11-01     NaN
1751-12-01     NaN
1752-01-01   0.348
1752-02-01     NaN
1752-03-01   5.806
1752-04-01   8.265
1752-05-01     NaN
1752-06-01     NaN
...            ...
2013-07-01  15.003
2013-08-01  14.742
2013-09-01  13.154
2013-10-01  10.256
2013-11-01   7.424
2013-12-01   4.724
2014-01-01   3.732
2014-02-01   3.500
2014-03-01   6.378
2014-04-01   9.589
2014-05-01  12.582
2014-06-01  14.335
2014-07-01  14.873
2014-08-01  14.875
2014-09-01  13.091
2014-10-01  10.330
2014-11-01   6.713
2014-12-01   4.850
2015-01-01   3.881
2015-02-01   4.664
2015-03-01   6.740
2015-04-01   9.313
2015-05-01  12.312
2015-06-01  14.505
2015-07-01  15.051
2015-08-01  14.755
2015-09-01  12.999
2015-10-01  10.801
2015-11-01   7.433
2015-12-01   5.518

[3192 rows x 1 columns]